* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.2%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
